@media (min-width: 576px) {
  .intro-image {
    width: 400px;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
  .intro-image {
    width: 500px;
  }

  .container {
    max-width: 768;
    margin: 0 auto;
  }

  /* ....................... */
  /* ....................... */
  /* ....Home Page Starts Here......... */
  /* ....................... */
  /* ....................... */
  /* ....................... */

  .header > div {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .header > div > div {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;
  }

  .logo {
    margin-bottom: 0;
  }

  .menu {
    display: none;
  }

  nav {
    flex-direction: row;
    display: flex !important;
  }

  nav a {
    margin-top: 0;
    margin-left: 8px;
  }

  .intro-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .intro {
    grid-area: 1 / 1 / 2 / 2;
  }

  .intro-image {
    grid-area: 1 / 2 / 2 / 3;
  }

  /* ....................... */
  /* ....................... */
  /* ....SERVICE Page Starts Here......... */
  /* ....................... */
  /* ....................... */
  /* ....................... */

  .services-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }

  .service {
    padding: 12px;
    margin-right: 6px;
    margin-bottom: 6px;
    width: calc(50%-80px);
    transition: all 0.3s ease;
  }

  .service:hover {
    background-color: #c8d8e4;
    box-shadow: 5px 5px 10px #2b6777;
  }

  .service img {
    width: 100%;
  }

  /* ....Portfolio Page CSS Starts Here......... */
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}
